<h2>Instrukcja</h2>
<ol>
    <li>Proszę uruchomić program, pojawi się strona startowa.</li>
    <li>
        Następnie proszę odpalić w Solution Explorer (CTRL + SHIFT + ALT) -> Database -> baza.sql ->
        klikamy zieloną strzałkę albo CTRL + SHIFT + E.
    </li>
    <li>
        Pojawi się okno Connect, wybieramy zakładkę Browse -> Local -> MSSQLLocalDB -> Klikamy Connect
        (Opcje poniżej można zostawić niezmienione).
    </li>
    <li>Proszę uruchomić ponownie aplikację, wszystkie dane powinny być załadowane.</li>
    <li>Po zarejestrowaniu się (lokalna rejestracja), na stronie głównej pojawi się pozostałe 5 kafelek z funkcjami.</li>
</ol>
