@model IEnumerable<AplikacjaKulinarna.Models.Recipe>

@{
    ViewData["Title"] = "Available Recipes";
}

<h1>Przepisy możliwe już do przygotowania</h1>

@if (!Model.Any())
{
    <p>You don't have enough ingredients to make any recipes.</p>
}
else
{
    <ul>
        @foreach (var recipe in Model)
        {
            <li>
                <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id">
                    @recipe.Name
                </a>
            </li>
        }
    </ul>
}
